.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    text-decoration: none;
    color: #5856d6; /* Default link color */
  }
  
  .pagination li a:hover {
    text-decoration: underline;
  }
  
  .pagination .active a {
    color: #ffffff; /* Text color for active page */
    background-color: #5856d6; /* Background color for active page */
    border-radius: 5px;
    padding: 5px 10px;
  }
  